* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
    --grey: rgb(231, 231, 231);
    --blue: rgb(88, 172, 255);
    --shadow: rgb(150, 150, 150);
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    height: 100vh;
    display:grid;
    grid-template: 
            "sidebar header" 1fr
            "sidebar main-content"  5fr / 1fr 5fr;
}

img.icon{
    width: 30px;
    display: block;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    align-content: start;
    gap: 50px;
    padding: 24px;
    background-color: var(--blue);
    color: #fff;
}

.sidebar-logo {
    display: grid;
    grid-auto-flow: column;
    place-self: start;
    align-items: center;
    gap: 8px;
}

.sidebar img {
    filter: invert(1);
}

.sidebar-logo img {
    width:40px;
}

.sidebar-logo h1 {
    font-size: 2rem;
}

.sidebar ul {
    list-style-type: none;
    display: grid;
    justify-items: start;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar ul li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 5px;
}

.header {
    display:grid;
    align-items: center;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 8px 0 8px 48px;
    box-shadow: var(--shadow) 0 5px 5px;
    z-index: 1;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type='search'] {
    appearance: none;
    width: 60%;
    height: 30px;
    border-radius: 24px;
    background-color: var(--grey);
    font-size: 1.5rem;
    border: none;
    padding: 20px;
}

.user-info {
    display:flex;
    align-items: center;
    gap: 15px;
}

img.user-info-icon {
    width:90px;
    border-radius: 50%;
}
img.account-icon {
    width: 60px;
    border-radius: 50%;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.post-btns {
    display: flex;
    justify-content: center;
    gap:20px;
}

.post-btns > button {
    width: 100px;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    padding: 8px 16px;
}

.main-content {
    display:grid;
    grid-template: 40px 3fr 40px 3fr / 3fr max(15vw,300px);
    background-color: var(--grey);
    padding: 24px;
    gap: 16px 32px;
}


.projects {
    grid-area: 2 / 1 / -1 / 2;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.project-card {
    height: 300px;
    padding: 32px 24px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: var(--shadow) 5px 5px 5px;
    border-left: 1rem solid rgb(255, 220, 20);
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-btns {
    display: flex;
    justify-content: end;
    margin: 10px;
    gap:5px;
}

.announcements,
.trending{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--shadow) 5px 5px 5px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.announcement-card {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcements > div:not(:first-child) {
    border-top: 1px solid var(--shadow);
}

.trend-card {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.profile-picture {
    width:60px;
    border-radius: 50%;
}